*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
header{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}
.heading{
    font-size:1.8em ;
    letter-spacing: 2px;
    font-weight: bolder;
}
.subheading{
    font-size:18px ;
    margin-top: 10px;
    font-weight: 400;
}
form{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width:98%; */
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.form-contents{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}
form .box{
    width: 98%;
    height: 2rem;
    border-radius: 5px;
   
}
.option{
    border-radius: 5px;
    width: 98%;
    height:2rem ;
}

.textarea{
    width: 98%;
    height: 90px;
}
.submit-btn{
    width: 98%;
    height:3rem ;
    background-color: rgb(55, 175, 101);
    color: white;
    
}
.btn-div{
    padding-bottom: 20px;
  
}